version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - '5000:5000'
    environment:
      - POSTGRES_URI=postgres://user:pass@postgres:5432/ecommerce
      - MONGO_URI=mongodb://mongo:27017/ecommerce
    depends_on:
      - postgres
      - mongo

  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    environment:
      - REACT_APP_API_URL=http://localhost:5000/api
    depends_on:
      - backend

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: ecommerce
    ports:
      - '5432:5432'

  mongo:
    image: mongo
    ports:
      - '27017:27017'
